<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm ">
    <div class="picture">
    </div>
  </div>
  <script>

    $('.cmd[data-cmd_id=#id#] .picture').on('click', function () {
      var param_str = '#listValue#';
      var imei_sta1 = param_str.indexOf('&');
      var imei_sta2 = param_str.indexOf('~');
      if ((imei_sta1 != -1) && (imei_sta2 != -1)) {
        params = param_str.substring(imei_sta1+1,imei_sta2);
        param = params.split(',');
        eq_id = param[0];
        eq_path = param[1];
      }
      if (eq_id != "") {
        var urlcourante = document.location.href;
        urlcourante = urlcourante.replace(/\/$/, "");
        index_end_root = urlcourante.lastIndexOf( "/" );
        url_root = urlcourante.substring(0, index_end_root);
        window.location = url_root+"/index.php?v=d&m=gps_tracker&p=panel&eq_id="+eq_id;
      }
    });
    jeedom.cmd.update['#id#'] = function(_options){
      var param_str = '#listValue#';
      console.log("listValue:"+param_str);
      var imei_sta1 = param_str.indexOf('&');
      var imei_sta2 = param_str.indexOf('~');
      var params = "";
      if ((imei_sta1 != -1) && (imei_sta2 != -1)) {
        params = param_str.substring(imei_sta1+1,imei_sta2);
        param = params.split(',');
        eq_id = param[0];
        eq_path = param[1];
      }
      console.log("eq_id:"+eq_id);
      console.log("eq_path:"+eq_path);
      if (eq_path != "") {
        var path = "";
        if      (eq_path == "tks_def") path = "img_def/tks_def.png";
        else if (eq_path == "jcn_def") path = "img_def/jcn_def.png";
        else if (eq_path == "jmt_def") path = "img_def/jmt_def.png";
        else if (eq_path == "trc_def") path = "img_def/trc_def.png";
        else if (eq_path == "gen_def") path = "img_def/gen_def.png";
        else path = eq_path + "/img.png";
        var img_path = '<img src="plugins/gps_tracker/data/' + path + '" style="max-height:150px;max-width:250px;height:auto;width:auto;"/>';
        $('.cmd[data-cmd_id=#id#] .picture').empty().append(img_path);
      }
    }
    jeedom.cmd.update['#id#']({display_value:'#state#'});
  </script>
</div>
