# Ignoring directories (Both the directory itself and its contents will be ignored.)
*.bak
*.zip
3rdparty/sample_lau.php
/data/jcn*/*.log
/data/jcn*/*.png
/data/jmt*/*.log
/data/jmt*/*.png
/data/tks*/*.log
/data/tks*/*.png



